ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
  }
 
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:powderblue;
    color:green;
  }
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
  }
 
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:powderblue;
  }
 
  /* Dividers in CSS */
 
  #div1
{
    height: 450px;
    width: 800px;
    margin: 10px;
    background-color: palevioletred;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 
.formbox .side
{
    height: 300px;
    width: 600px;
    background-color: aqua;
}
 
.footerbox
{
    height: 100px;
    width:100%;
    background-color: darkmagenta;
}
 
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
  }
 
  li {
    float: left;
  }
 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:powderblue;
  }
 
  /* Dividers in CSS */
 
  #div1
{
    height: 450px;
    width: 800px;
    margin: 10px;
    background-color: palevioletred;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
 
.formbox, .side
{
    height: 300px;
    width: 600px;
    background-color: aqua;
}
 
.footerbox
{
    height: 100px;
    width:100%;
    background-color: darkmagenta;
}
 
 