

body,html
{
    background-color:lightpink;
    margin: 5000px;
    padding: 1000px;
}

b,h1, marquee
{
    font-style: bold;
    background-color: pink;
}


#general
{
    background-color: chartreuse;
    font-weight: 2000;
    font-style: normal;
}

.general2
{
    background-color: powderblue;
    text-align: center
}



.div1 
{
    height: 3000px;
    width: 600px;
    background-color: whitesmoke;
}
